.create-channel {
    color: #a1a1a4;
    padding: 0px 16px;
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channel-header {
    height: 40px;
    border-bottom: 1px solid #3a3d40;
    display: flex;
    align-items: center;
    padding-left: 18px;
}

<<<<<<< HEAD
.channel-title{
    color: #d1d2d3;
    cursor: pointer;
=======
.channel-title {
    color: #d1d2d3
>>>>>>> 638d66d (fixed pointers on unsets)
}

.channel-card {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    border-top: solid 1px #35373b;
    border-bottom: solid 1px #35373b;
}

.channel-container {
    /* padding-left: 16px;
    padding-right: 12px; */
}

.channel-card-name {
    color: #d1d2d3;
    text-decoration: none;
    cursor: pointer;
}

.channel-users {
    padding-top: 5px;
    color: #6f7072;
    font-size: 13px;
    text-decoration: none;
    padding: 0px 18px;
}

.view-channel-button {
    all: unset;
    cursor: pointer;
    color: transparent;
}

.join-channel-button {
    all: unset;
    cursor: pointer;
    color: transparent;

}

.app-body-hover:hover .view-channel-button {
    background-color: #1a1d21;
    z-index: 100;
    border: 1px solid #35373b;
    color: #d1d2d3;
    padding: 8px 20px;
    border-radius: 6px;
    margin: 6px;
}

.app-body-hover:hover .join-channel-button {
    all: unset;
    cursor: pointer;
    z-index: 100;
    border: 1px solid #35373b;
    background-color: #007A5A;
    padding: 8px 24px;
    border-radius: 6px;
    margin-right: 16px;
}

.view-channel-button:hover  {
    background-color: #1f2228;
}

.join-channel-button:hover  {
    background-color: #048d68;
}
