#editor{
    position: fixed;
    bottom: 0;
    width: 70%;
    padding-left: 30px;

}



.chat-profile-pic{
    width: 36px;
    height: 36px;
}



.status-circle.online {
    border-radius: 50%;
    background-color: #037a5b;
    border: 3px solid var(--side-panel);
    width: 20px;
    height: 20px;
    right: -5px;
    bottom: -5px;
}

.status-circle.offline {
    border-radius: 50%;
    background-color: var(--main-container);
    border: 3px solid var(--side-panel);
    width: 20px;
    height: 20px;
    right: -5px;
    bottom: -5px;
}

.status-circle.offline > .inner-circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 3px solid grey;
    position: absolute;
    background-color: var(--main-container);

}

.chat-card-pic{
    width: 280px;
    height: 280px;
}