#editor{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 80%;
    bottom: 0;
    padding-left: 30px;

}

.chat-messages-container{
    display: flex;
    flex-direction: column;
    height: 60%;
}

.outer-chat-container{
    display: flex;
    height: 98%;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

.hope-this-works{
    display: flex;
    overflow-y: auto;
    scrollbar-color: grey transparent;
    height: 80%;
}


.ql-toolbar.ql-snow {
    border: 0px !important
}
.ql-container.ql-snow {
    border: 0px !important
}

.ql-editor.ql-blank::before{
    color: #787a7c;
}

.chat-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #818385;
    padding-left: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 24px;
}



.chat-profile-pic{
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

.user-info-card{
    display: flex;
    gap: 15px;
}

.user-title-container{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.user-card-username{
    font-size: 20px;
}


.status-circle.online {
    border-radius: 50%;
    background-color: #037a5b;
    border: 3px solid var(--side-panel);
    width: 10px;
    height: 10px;

}

.status-circle.offline {
    border-radius: 50%;
    background-color: var(--main-container);
    border: 3px solid var(--side-panel);
    width: 10px;
    height: 10px;

}

.status-circle.offline > .inner-circle {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    border: 3px solid grey;
    position: absolute;
    background-color: var(--main-container);

}

.chat-room-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-card-pic{
    width: 280px;
    height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.send-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: none;
    background-color: transparent;
    width: 40px;
    padding-right: 20px;
}

.fa-paper-plane{
    color: #56595b
}

.button-div{
    display: flex;
    justify-content: flex-end;
}

.chat-message-inner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.chat-data-container{
    display: flex;
    width: 100%;
}

.chat-message{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;  */
    padding: 5px 30px;
    margin-top: 6px;
    box-sizing: border-box;
    width: 97%;
}

.chat-message:hover {
    background-color: #1e2126;
}

.chat-buttons > button {
    all: unset;
    cursor: pointer;
    margin: 0px 4px 4px 4px;
    font-size: 12px;
    color: transparent;
    max-height: 20px;
    padding: 4px 8px;
    border-radius: 2px;
    border: 1px solid transparent;
}

.chat-message:hover .chat-buttons > button {
    border: 1px solid #35363a;
    color: #d1d2d3;
}

.chat-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.chat-metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.created-at-msg {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;
    font-size: 12px;
    padding: 10px;
}

.chat-text {
    font-family: Slack-Lato,Slack-Fractions,appleLogo,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    padding: 4px 6px;
    box-sizing: border-box;
    /* width: 78vw; */
}

.chat-username {
    padding: 0px 6px;
}

.chat-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 4px;
}

@media screen and (max-width:1400px) {
    #editor{
            display: flex;
            flex-direction: column;
            position: fixed;
            width: 78%;
            bottom: 0;
            padding-left: 30px;

    }
    .outer-chat-container{
        overflow-x: hidden;
    }
}

@media screen and (max-height:500px) {
    .outer-chat-container{
        display: flex;
        height: 80%;
        width: 100%;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
    }
    
}


@media screen and (max-height:800px) {
    .outer-chat-container{
        display: flex;
        height: 85%;
        width: 100%;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
    }
    
}

@media screen and (max-width:1100px) {
    #editor{
            display: flex;
            flex-direction: column;
            position: fixed;
            width: 75%;
            bottom: 0;
            padding-left: 30px;

    }
    .outer-chat-container{
        overflow-x: hidden;
    }
}

@media screen and (max-width:950px) {
    #editor{
            display: flex;
            flex-direction: column;
            position: fixed;
            width: 72%;
            bottom: 0;
            padding-left: 30px;

    }
    .outer-chat-container{
        overflow-x: hidden;
    }
}

@media screen and (max-width:800px) {
    #editor{
            display: flex;
            flex-direction: column;
            position: fixed;
            width: 67%;
            bottom: 0;
            padding-left: 30px;

    }
    .outer-chat-container{
            overflow-x: hidden;
    }

}
