.login-form-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 400px;
   height: 400px;
}
label {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* width: 300px; */

}
input {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.login-container {
   padding-right: 15px;
}
.login-button {
   font-size: 20px;
   width:125px;
   border-radius: 5px;
   height: 37px;
   font-family: 'Noto Sans';
   font-weight: bodler;
}