.login-form-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 400px;
   height: 400px;
}
label {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* width: 300px; */

}
input {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.nav-signin-button {
   padding-right: 15px;
}
.signin-button {
   font-size: 20px;
   width: 100px;
}