.signin-form-logo {
   display: flex;
   height: 40px;
   padding: 10px;
}
.signin-form-logo-container {
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   margin-bottom: 40px;
}

.signin-form-name {
   color: black;
   height: 34px;
   display: flex;
   font-weight: 700;
   font-size: 1.3em;
   letter-spacing: -1px;
} 
.signin-header1 {
   font-size: 45px;
   color:black;
   padding-bottom:20px;
}

.signin-header2 {
   font-size: 20px;
   padding-top:10px;
   display:flex;
   justify-content: center;
   margin-bottom:20px;
}
/* ************************ SIGN IN FORM ERRORS *******************************/ 
.error-container {
   display:flex;
   justify-content: center;
   align-items: center;
   padding: 0px 5px 0px 5px;
   
}
.signin-form-error-container {
   font-size: 18px;
   display:flex;
   flex-direction: column;
   border: 1px solid red;
   border-radius: 5px;
   width: 308px;
   margin: 0px 0px 10px 3px;
   padding:10px 0px 10px 0px;
   background-color: rgba(238, 67, 67, 0.507);
   color:rgb(163, 17, 17)
}
.error-list {
   margin-left: 7px;
   padding-top: 5px;
}
/****************** NAV BUTTONS ********************************* */
.nav-login-button-purple {
   width:130px;
   border-radius: 5px;
   height: 40px;
   font-size: .875rem;
   font-weight: 700;
   text-transform: uppercase;
   border: 1px solid white;
   color:white;
   background-color: rgba(74, 21, 75, 255);
}
.nav-login-button-purple:hover {
   cursor: pointer;

}
/******************* SIGN IN FORM INPUT FIELDS *****************************/
.login-form-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 500px;
   height: 600px;
   font-size: 30px;
   letter-spacing: -1px;
}
input {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   height:30px;
   border-radius: 4px;
   font-size: 20px;
}

.login-container {
   padding-right: 15px;
}

.signin-form-email {
   padding:7px;
   display:flex;
   justify-content: center;
}

.signin-form-password {
   padding:7px;
   display:flex;
   justify-content: center;
}

.signin-form-buttons {
   display:flex;
   align-items: center;
   justify-content: center;
   padding:7px;
   flex-direction: column;

}
.signin-button {
   width: 323px;
   padding:7px;
   display:flex;
   justify-content: center;
   border-radius: 5px;
   background-color: rgba(74, 21, 75, 255);
   color:white;
   font-size: 20px;
}

.signin-button:hover {
   color:white;
   cursor: pointer;

}
