/* TODO Add site wide styles */
*{
    font-family: Slack-Lato, Slack-Fractions, appleLogo, 'Lato', sans-serif;
}
.whole-page-container{
    height: 100vh;
}

#root{
    overflow-y: hidden;
}

.blue-hover:hover {
    background-color: #1264a3;
}

.app-body-hover:hover {
    background-color: #1e2227;
}

.grey-hover:hover {
    background-color: #232129;
}

.unset {
    all: unset;
}

.bold, div > .bold {
    font-weight: 600;
}
