/* TODO Add site wide styles */
*{
    /* font-family: Slack-Lato, Slack-Fractions, appleLogo, 'Lato', sans-serif; */
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
/* .whole-page-container{
    height: 100vh;
} */

html, body {
    height: 100vh;
  }

body{ 
    display: flex;
    overflow: overlay;
}

#root{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.blue-hover:hover {
    background-color: #1264a3;
}

.app-body-hover:hover {
    background-color: #1e2227;
}

.grey-hover:hover {
    background-color: #232129;
}

.unset, a {
    all: unset;
}

.bold, div > .bold {
    font-weight: 600;
}

.muted {
    color: #6f7072;
    font-size: 13px;
    text-decoration: none;
    padding: 5px 16px;
}
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: 
    #818384;
}



input {
    padding: 11px;
    height: 44px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 4px;
}

div > div > .purple-button {
    all: unset;
    border-radius: 4px;
    border: 1.5px solid #611f69;
    background-color: #611f69;
    color: white;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;;
    font-weight: 700;
    letter-spacing: .8px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 16px;
    /* width: 125px;
    height: 37px; */
}

div > .purple-border-button {
    all: unset;
    border-radius: 4px;
    border: 1.5px solid #611f69;
    background-color: rgba(246, 239, 232, 255);
    color: #611f69;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;;
    font-weight: 700;
    letter-spacing: .8px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 16px;
}

.dark-input {
    all: unset;
    padding: 0px 12px;
    height: 44px;
    width: 400px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: transparent;
    margin: 6px 12px;
}

.dark-textarea {
    all: unset;
    padding: 8px 12px 2px 12px;
    height: 88px;
    width: 400px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: transparent;
    margin: 6px 12px;
}

.green-button {
    all: unset;
    z-index: 100;
    border: 1px solid #35373b;
    background-color: #007A5A;
    padding: 8px 24px;
    border-radius: 6px;
    margin: 6px 12px;
    font-family: Slack-Lato,Slack-Fractions,appleLogo,sans-serif;
    font-size: 16px;
}

.grey-button {
    background-color: #1a1d21;
    z-index: 100;
    border: 1px solid #35373b;
    color: #d1d2d3;
    padding: 8px 20px;
    border-radius: 6px;
    margin: 6px 0px 6px 12px;
    font-family: Slack-Lato,Slack-Fractions,appleLogo,sans-serif;
    font-size: 16px;
}

.buttons-right-container {
    display: flex;
    justify-content: flex-end;
}
