/* TODO Add site wide styles */
*{
    /* font-family: Slack-Lato, Slack-Fractions, appleLogo, 'Lato', sans-serif; */
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
/* .whole-page-container{
    height: 100vh;
} */

#root{
    overflow-y: hidden;
}

.blue-hover:hover {
    background-color: #1264a3;
}

.app-body-hover:hover {
    background-color: #1e2227;
}

.grey-hover:hover {
    background-color: #232129;
}

.unset, a {
    all: unset;
}

.bold, div > .bold {
    font-weight: 600;
}

.muted {
    color: #6f7072;
    font-size: 13px;
    text-decoration: none;
    padding: 5px 16px;
}


input {
    padding: 11px;
    height: 44px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 4px;
}

div > div > .purple-button {
    all: unset;
    border-radius: 4px;
    border: 1.5px solid #611f69;
    background-color: #611f69;
    color: white;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;;
    font-weight: 700;
    letter-spacing: .8px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 16px;
    /* width: 125px;
    height: 37px; */
}

div > .purple-border-button {
    all: unset;
    border-radius: 4px;
    border: 1.5px solid #611f69;
    background-color: rgba(246, 239, 232, 255);
    color: #611f69;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;;
    font-weight: 700;
    letter-spacing: .8px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 16px;
}
