.profile-btn {
   font-size: 10px;
}

.splash-nav-container {
   display: flex;
   justify-content: space-between;
   padding-right: 10px;
   height: 60px;
   width: 100%;
   background-color: rgba(84, 21, 84, 255);
}

.navbar-container {
   display: flex;
   justify-content: space-between;
   padding-right: 10px;
   height: 44px;
   width: 100%;
   background-color: #121016;
   border-bottom: 1px solid #504e52;
}
.ui-buttons {
   display: flex;
   padding-top: 10px;
   padding: 5px;
}
.logo {
   height: 25px;
   padding-left: 10px;
}

.nav-right {
   display:flex;
   align-items: center;
}

.nav-appname {
   display:flex;
   align-self: center;
   color: white;
   padding-left: 10px;
   font-size: 25px;
   font-weight: 800;
   font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

/* ****************** Navbar Search Input ***************** */

.search-container {
   height: 26px;
   margin-top: 8px;
   margin-left: 200px;
   position: relative;
}

.nav-container {
   display: flex;
   width: 100vw;
   justify-content: space-between;
}

.nav-left {
   display: flex;
   padding-left: 10px;
   align-items: center;
}

.search-input {
   all: unset;
   height: 26px;
   width: 60vw;
   margin-left: 18px;
   border-radius: 6px;
   border: 1px solid #504e52;
   background-color: #d1d2d333;
   color: #d1d2d3;
   text-align: center;
   z-index: 1;
}

.search-input::selection {
   background-color: #1a1d21;
}

.search-results {
   background-color: #1a1d21;
   border: 1px solid #504e52;
   height: 400px;
   padding: 20px;
   margin-left: 18px;
}

.search-results-item {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin: 10px 0px;
   min-height: 47px;
   padding: 0px 6px;
}

.search-result-text {
   all: unset;
   cursor: pointer;
   color: #d1d2d3;
}
.search-container-title {
   border-radius: 0px;
   background-color: #1a1d21;
   border:none;
   color: #d1d2d3;
   box-shadow:none;
   z-index: 2;
   height: 38px;
}

.search-img-and-name {
   display: flex;
   align-items: center;
}
.search-message {
   display:flex;
   font-size: 15px;
   margin-left:17px;
   padding-top: 12px;
}
/* ****************** Profile Button and Dropdown ***************** */



.status-circle.online-profile {
   position: absolute;
   border-radius: 50%;
   background-color: #2bac76;
   border: 3px solid #121016;
   width: 8px;
   height: 8px;
   right: 7px;
   bottom: 7px;
}

.status-circle.offline-profile {
   border-radius: 50%;
   background-color: var(--main-container);
   border: 3px solid var(--side-panel);
   width: 20px;
   height: 20px;
   right: -5px;
   bottom: -5px;
}

.status-circle.online-profile1 {
   border-radius: 50%;
   background-color: #2bac76;
   border: 3px solid rgb(34,37,41);
   width: 10px;
   height: 10px;
}

.profile-username{
   padding-right: 5px;
}

.status-circle.offline-profile1 {
   border-radius: 50%;
   background-color: var(--main-container);
   border: 3px solid var(--side-panel);
   width: 20px;
   height: 20px;
   right: -5px;
   bottom: -5px;
}

.status-circle.offline > .inner-circle-profile {
   border-radius: 50%;
   width: 15px;
   height: 15px;
   border: 3px solid grey;
   position: absolute;
   background-color: var(--main-container);

}

.navbar-profile-container {
   display: flex;
   justify-content: flex-end;
   padding-right: 10px;
   height: 44px;
   background-color: #121016;
   border-bottom: 1px solid #504e52;
   position: relative;
}

.profile-and-dropdown {
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   color: #d1d2d3;
}

.profile-container {
   margin-top: 9px;
   display:flex;
   color: white;
   align-items: center;
}


.user-image-nav-1 {
   width: 25px;
   height: 25px;
   border-radius: 4px;
   cursor: pointer;
}

.user-image-nav-2 {
   width: 36px;
   height: 36px;
   margin-right: 10px;
   border-radius: 4px;
}

.profile-dropdown {
   background-color: rgb(34,37,41);
   border-radius: 6px;
   display: flex;
   width: 300px;
   margin-top: 6px;
}

.profile-dropdown-name {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 12px 14px 12px 14px;
}

.profile-dropdown-name > a {
   margin-left: 12px;
}

.profile-dropdown-content button {
   all: unset;
   cursor: pointer;
   width: 278px;
   margin-left: 14px;
   margin-bottom: 2px;
   padding: 4px;
   font-size: 15px;
   font-weight: 300;
}

.profile-link-container {
   display: flex;
   align-items: center;
}

.profile-link-container:hover {
   background-color: #1264a3;
}

.blue-hover:hover {
   background-color: #1264a3;
}

.profile-dropdown-content {
   padding: 5px 0px 5px 0px;
}

.profile-dropdown-content div, .profile-dropdown-content button {
   /* margin: 0px 10px 0px 10px; */
   display: flex;
   align-items: center;
}

.line {
   border-top: 1px solid #504e52;
   margin: 4px 0px;
   display: flex;
   align-items: center;
}

.profile-item {
   all: unset;
   cursor: pointer;
   width: 278px;
   margin-left: 14px;
   padding: 4px;
   justify-content: space-between;
   margin-top: 6px;
   font-size: 15px;
   font-weight: 300;
}

.fa-linkedin, .fa-github, .fa-angellist {
   margin: 0px 10px;
}

.unset {
   all: unset;
}
