
.channel-card-name {
  padding: 5px 20px;
  font-weight: 300;
}
.fa.fa-pencil-square-o {
  color:black;
  display:flex;
  justify-content: flex-end;
  margin-right: 15px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.747);
  padding:4px;
}

.left-menu-header {
  display: flex;
  justify-content: space-between;
}
.channel-nav {
  text-decoration: none;
}

.left-menu-add {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  font-size: 15.5px;
  text-align: center;
  margin-top: 10px;
  color:rgba(163, 163, 166, 255)
}
.fa.fa-plus {
  color:rgba(117, 116, 124, 255);
  margin-right:5px;
  background-color: rgba(43, 42, 48, 255);
  font-size:13px;
  padding:2.3px;
  border-radius:3px;

}

.groups-nav {
  padding: 0px 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.groups-nav-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 300;

  overflow: hidden;
  white-space: nowrap;
  width: 174px;
}

.group-nav-members {
  width: 174px;
  text-overflow:  ellipsis ellipsis;
}

.fa-xmark {
  color: transparent;
}

.groups-nav:hover .fa-xmark {
  color: #d1d2d3;
}

.grey-hover:hover {
  background-color: #232129;
}

.fa-caret-down {
  color: #d1d2d3;
  padding: 5px;
}

.left-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate {
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
}

.left-menu-label {
  color: #a1a1a4;
  padding: 0px 16px;
  margin-top: 20px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
