.splash-main-container {
   min-height: 100vw;
}
.splash-container-header{
   font-size: 31px;
   padding: 10px 0px 20px;
   font-weight:bolder;
   line-height: 1.1;
}
.splash-container-text {
   font-size: 18.5px;
   padding: 10px 0px 10px;
   line-height: 1.4;
}
/* CONTAINER 1 */
.splash-container-1 {
   display:grid;
   grid-template-columns: 45% 45%;
   grid-column-gap: 80px;
   background-color: rgba(246, 239, 232, 255);
   padding:75px 0px 35px;
}

.splash-container-1-title {
   display: flex;
   flex-direction: column;
   color:black;
   width:519px;
   height: 300px;
   justify-self: end;
      
}
.splash-container-1-header {
   font-size: 70px;
   color:black;
   padding-bottom:10px;
   /* font-weight:bolder; */
}
.splash-container-1-text {
   font-size: 20px;
   flex-wrap: wrap;
   padding:10px 0 10px 0;
   line-height: 1.4;
}


/* .splash-buttons {
   display:flex;
} */

.dashboard {
   width: 600px;
   height: 345px;
}
.splash-section-1-image  {
   width:600px;
   height:345px;
}

/* CONTAINER 2 */

.splash-container-2 {
   display: grid;
   grid-template-columns: 45% 45%;
   grid-column-gap: 80px;
   background-color: rgba(246, 239, 232, 255);
   padding: 50px 0px 30px;
}
.splash-container-2-image {
   justify-self: end;
   width:510px
}
.corkboard {
   width:510px;
   height: 300px;
}

.splash-container-2-title {
   display:flex;
   flex-direction: column;
   color:black;
   width: 516px;
   height:200px;
   padding-top:50px;
}

/* CONTAINER 3 */
.splash-container-3 {
   display: grid;
   grid-template-columns: 45% 45%;
   grid-column-gap: 80px;
   padding: 50px 0px 30px;
}
.splash-container-3-title {
   display: flex;
   flex-direction: column;
   width: 500px;
   height: 300px;
   color: black;
   justify-self: end;
}
.splash-container-3-image {
   width: 450px;
   padding-left: 120px;
}
.yarn{
   height:450px;
   width:450px;
}


/* CONTAINER 4 */
.splash-container-4 {
   display: grid;
   grid-template-columns: 45% 45%;
   grid-column-gap: 80px;
   padding: 50px 0px 30px;
}
.splash-container-4-title {
   display: flex;
   flex-direction: column;
   color: black;
   width: 500px;
   height: 200px;
}
.splash-container-4-image {
   justify-self: end;
   width: 500px;
}
.folders {
   height: 450px;
   width: 450px;
}

/* CONTAINER 5 */
.splash-container-5 {
   display: grid;
   grid-template-columns: 45% 45%;
   grid-column-gap: 80px;
   padding: 50px 0px 30px;
}
.splash-container-5-title {
   display: flex;
   flex-direction: column;
   color: black;
   width: 500px;
   height: 200px;
   justify-self: end;
}
.splash-container-5-image {
   width: 450px;
   padding-left: 120px;
}
.teamwork {
   height: 450px;
   width: 450px;
}