.splash-container {
   display:flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
}

.splash-title-1 {
   font-size: 45px;
   color:black;
}
.splash-title-name {
   color: rgb(44, 7, 80);
   padding-left: 20px;
}

.splash-title-2 {
   font-size: 30px;
}

.splash-buttons {
   padding-top: 30px;   
}

.splash-section-1 {
   display:inline-grid;
   grid-template-columns: auto,auto,auto;
}


.dashboard {
   height:300px
}
