.group-container {
  display: grid;
  grid-template-areas:
  "headers"
  "messages"
  "message-field";
}

.group-headers {
  grid-area: headers;
  display: flex;
  flex-direction: column;
}

.group-header-1, .group-header-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-message-history {
  grid-area: messages
}

.group-message-form {
  grid-area: message-field
}

.create-group{
  color: #a1a1a4;
  padding-left: 16px;
}
