.groups-nav {
  all: unset;
  cursor: pointer;
  color: rgb(163,163,166);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.groups-top-container{
  display: flex;
  flex-direction: column;
}

.side-nav-img {
  height: 20px;
  border-radius: 8px;
  padding: 5px;
}

.groups-header {
  height: 40px;
  border-bottom: 1px solid #3a3d40;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.groups-title {
  color: #d1d2d3
}

.create-group{
  color: #a1a1a4;
  padding: 0px 16px;
  margin-top: 20px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.autocomplete-input {
  background-color: red;
}

.hCOnUy {
  background-color: #1a1d21;
  border: 1px solid #3a3d40;
}

.hCOnUy > input {
  color: #d1d2d3;
}

.ijlXwp > .wrapper {
  background-color: #1a1d21;
  border: none;
}

#create-group {
  all: unset;
  cursor: pointer;
  z-index: 100;
  background-color: #007A5A;
  padding: 6px 16px;
  border-radius: 6px;
  margin: 16px;
  display: flex;

}

.group-create-input-container {
  width: 100%;
}

.group-create-input-container > div {
  border-bottom: 1px solid #3a3d40;
}

.multiselect-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.multiselect-input {
  all: unset;
  padding: 5px;
}

.multiselected-user {
  background-color: #1d9bd11a;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 4px;
}

.multiselected-user > span {
  padding-left: 4px;
}

.multiselect-dropdown {
  all: unset;
}

.multiselect-label {
  margin: 5px 16px ;
}
