#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: whitesmoke;
    width: fit-content;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;

    box-shadow: 10px 10px 20px rgb(37, 37, 37);
}

#dark-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* background-color: black; */
}

#dark-modal-content {
    position: absolute;
    background-color: rgb(26,29,33);
    box-shadow: 0 18px 48px 0 #00000059;
    border-radius: 8px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    z-index: auto;
    padding: 20px;
    max-width: 580px;
    /* height: min(60vh,820px); */
}

#dark-modal-content > h1 {
    text-align: left;
    padding: 18px 12px;
}
