
/********************** SIGN UP FORM BUTTONS ************* */
.signup-form-buttons {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 7px;
   flex-direction: column;
}
.splash-signup-button {
   width: 308px;
   padding: 7px;
   display: flex;
   justify-content: center;
   border-radius: 5px;
   background-color: rgb(44, 7, 80);
   color: white;
   font-size: 20px;
}

.signup-button:hover {
   color: white;
}
